 .u-section-1 {
  background-image: url("images/1013865_198856590321956_1959729968_n.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 783px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  margin: 601px 255px 0 42px;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  margin: -13px 518px 16px 222px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 418px;
    margin-left: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 308px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 40.53% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 140px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 628px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 70px auto 70px 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 488px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  position: relative;
  margin: 50px 0 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 20px 0 50px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/2.jpeg");
  background-position: 50% 50%;
  min-height: 488px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 5px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }
} .u-section-3 {
  min-height: 458px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 14px;
}

.u-section-3 .u-image-1 {
  min-height: 419px;
  background-image: url("images/xe1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 419px;
  background-image: url("images/312880897_1301205910653902_8891537172088092520_n.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 419px;
  background-image: url("images/xe4.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 419px;
  background-image: url("images/xe3.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 385px;
  }

  .u-section-3 .u-image-1 {
    min-height: 346px;
  }

  .u-section-3 .u-image-2 {
    min-height: 346px;
  }

  .u-section-3 .u-image-3 {
    min-height: 346px;
  }

  .u-section-3 .u-image-4 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1099px;
  }

  .u-section-3 .u-image-1 {
    min-height: 530px;
  }

  .u-section-3 .u-image-2 {
    min-height: 530px;
  }

  .u-section-3 .u-image-3 {
    min-height: 530px;
  }

  .u-section-3 .u-image-4 {
    min-height: 530px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2424px;
  }

  .u-section-3 .u-image-1 {
    min-height: 795px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 795px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 795px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 795px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1542px;
  }

  .u-section-3 .u-image-1 {
    min-height: 501px;
  }

  .u-section-3 .u-image-2 {
    min-height: 501px;
  }

  .u-section-3 .u-image-3 {
    min-height: 501px;
  }

  .u-section-3 .u-image-4 {
    min-height: 501px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 786px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 746px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 552px;
  margin-top: 30px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    height: 784px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1481px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 687px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 75px 0 60px;
}

.u-section-5 .u-image-1 {
  min-height: 227px;
  background-image: url("images/1070042_138083423065940_1243461702_n.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-image-2 {
  min-height: 273px;
  background-image: url("images/530273_138083296399286_2082295607_n.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  min-height: 500px;
  background-image: url("images/1069425_138083363065946_1824115443_n.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  min-height: 500px;
  background-image: url("images/530273_138083296399286_2082295607_n.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-image-4 {
    min-height: 473px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-5 .u-image-4 {
    min-height: 710px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-image-4 {
    min-height: 447px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 855px;
  margin: 1px auto 0;
}

.u-section-6 .u-group-1 {
  width: 797px;
  min-height: 218px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  position: relative;
  font-weight: 700;
  margin: 20px 0 15px;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 48px auto 85px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/4a1.jpeg");
  background-position: 50% 50%;
  min-height: 491px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/maxresdefault_6850171-1103copy.jpg");
  min-height: 491px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/zz0fa0bd6f.jpeg");
  min-height: 491px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-6 .u-group-1 {
    width: 845px;
    min-height: 223px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-6 .u-group-1 {
    min-height: 218px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}